<!DOCTYPE html>
<title>HMAC Generator</title>

<h1>HMAC failure</h1>
<p>The HMAC you passed did not seem to be correct. For your reference, we use the secret <pre>very_secret</pre> and used the message <pre><%= message %></pre>.</p>
