<!DOCTYPE html>
<title>HMAC Generator</title>
<style>body { font-size: 1.2em; }</style>
<form method="post" action="/sign">
  Professional ID: <input type="text" name="userid" />   <br/>
  Patient ID:      <input type="text" name="clientid" /> <br/>
  Professional First Name: <input type="text" name="user_firstname" /> <br />
  Professional Last Name: <input type="text" name="user_lastname" /> <br />
  <input type="submit" value="Generate URL" />
</form>
